@import url('https://fonts.googleapis.com/css?family=Numans|Tauri');

*{
	padding: 0;
	margin: 0;
}

body,html {
	font-size: 16px; /*1em = 16px*/
	height: 100%;
	font-family: 'Numans';
	color: #030203;
	background: #BFBDB6;
}

header {
	height: 12em;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/workinghp.jpg"); 
	background-position: center;
	background-size: 100%;
	width: 100%;
	color: #FBFEFF;
	margin-bottom: 1em;
}

 header ul {
	font-family: tahoma, sarila, sans serif;
	font-size: 2em;
	letter-spacing: .1em;
	margin-left: 4em;
	padding-top: 1em;
	text-align: left;
}

/*.hero-image {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/hero.jpg");
	height: 100%;
	background-position: center;
	background-repeat: relative;
	background-size: cover;
	position: relative;
	width: 100%;
}*/

.button {
	background-color: #DFE6E6;
	border: none;
	border-radius: .6em;
	transition-duration: 0.4s;
	display: inline;
	padding: .5em;
	margin: 1em;
	float: left;
	position: fixed;
	text-align: left;
}

.button:hover {
	background-color: #030203;
	text-align: center;
}

.button:hover a {
	color: white;
}
.button a{
	text-decoration: none;
	color: #030203;
}

section {
	text-align: center;
	background: white;
	margin: 2em 1em 1em;
}

#statement p{
	display: inline-block;
	width: 30em;
	padding: 2em;
	text-align: center;
	margin: auto;
	position: relative;
	line-height: 1.5em;
	text-align: center;
}

#statement img{
	margin-top: 5%;
	width: 20%;
	border-radius: .6em
}

ul {
	text-align: center;
	list-style-type: none;
	margin: 1em;
}

.iknow {
	text-align: center;
	font-family:'Tauri', sans-serif;
	line-height: 1.5em;
	margin-top: 2em;
}	

hr {
	border-top: none;
	border-right: none;
	border-left: none;
	width: 20em;
	margin: auto;
	padding-top: 1em;
	padding-bottom: 1em;
	border-color: #030203;
}

#ul {
	width: 8em;
	border-color: #030203;
}

section a {
	text-decoration: none;
	color: #030203;
}

#uxui {
	background: white;
	font-family:'Tauri', sans-serif;
}

#uxui img {
	width: 100%;
	max-width: 520px;
}

#uxui p {
	margin-bottom: 1em;
	font-size: 1.5em;
	text-align: center;
}

}

#uxtitle p {
	background-color: #DFE6E6;
	border: none;
	border-radius: .6em;
	transition-duration: 0.4s;
	padding: .5em;
	margin: 2em auto;
	text-align: center;
	width: 50%;

}

#uxtitle:hover {
	background-color: #030203;
	}

#uxtitle:hover a {
	color: white;
}

/*.container {
	text-align: center;
	
}

.card{
	position: relative;
	text-align: center;
	background: rgb(30, 130, 76);
	width: 20em;
	margin: 1em;
	
	position: relative;
	display: inline-block;
}*/


footer {
	background-color: #030203;
	padding: .5em;
	text-align: center;
	clear:both;
	color: white;
}

footer a{
	padding-left: .5em;
	text-decoration: none;
	color: white;
}

@media screen only and (max-width: 768px) {
	#statement img {
		display: none;
	}
}



